* {
    margin: 0;
    padding: 0;   
    text-align: center;   
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #51489C;
    color: white;
    font-size: 1.2rem;
}

@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
    :root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
    }  

body {
    font-family: Arial, Helvetica,sans-serif;
}

h1, h2, h3{
    font-family: 'Mooli', sans-serif;
}

h1 {
    font-size: 36px;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
}

a:link, a:visited {
    color: var(--accent-color);
}

main, section {
    background-color: #EBEBEB;
}

img {
	max-width: 100%;
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
    border: 8px solid white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Style the button to look like regular text */
button#button {
    border: none; /* Remove border */
}

/* Style the navigation links to hide initially */
.nav-links {
    display: none;
}

@media screen and (min-width: 700px) {
        .gallery {
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;
        }
    }

  @media screen and (min-width: 700px) {
        .gallery {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-items: center;
        }
  }