@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: var(--text-light);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
}

h1 {
    font-size: 36px;
}

a:link, a:visited {
    color: var(--accent-color);
}

main, section {
    background-color: #EBEBEB;
}

main {
    margin: 0;
}

img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 8px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.main-menu {
    display: flex;
    flex-direction: column; 
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
}

.main-menu a {
    text-decoration: none;
    color: var(--text-light);
    padding: 10px 20px;
    display: block;
}

.main-menu a:hover {
    background-color: #45a049;
}

.hide {
    display: none;
}

.viewer {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-rows: auto auto;
    gap: 5px;
    justify-items: center;
    align-items: center;
    color: grey;
}

.close-viewer {
    grid-row: 1;
    margin: 10px;
    max-height: 10%;
    cursor: pointer;
    margin: 0;
}

.viewer img {
    grid-row: 2;
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

/* Media Queries */
@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        gap: 20px;
    }

    .main-menu {
        flex-direction: row;
        justify-content: center; 
        display: flex;
        gap: 20px;
    }
}